<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>list10ListTextColor</key>
	<string>#999999</string>
	<key>locationButtonPress</key>
	<string>#0ca9fd</string>
	<key>mc_forum_bg3_text_n</key>
	<string>#444444</string>
	<key>pageField2Normal</key>
	<string>#999999</string>
	<key>channel7listNormalColor</key>
	<string>#ffffff</string>
	<key>noObviousText</key>
	<string>#aaaaaa</string>
	<key>pageField2Selected</key>
	<string>#ffffff</string>
	<key>buttonTypeTwoNormal</key>
	<string>#0ca9fd</string>
	<key>pageArrowText</key>
	<string>#ffffff</string>
	<key>list9ImgErrorColor</key>
	<string>#999999</string>
	<key>mc_forum__login_button1_h</key>
	<string>#ffffff</string>
	<key>mc_forum__login_button2_n</key>
	<string>#ffffff</string>
	<key>detailSevenHighLightText</key>
	<string>#0ca9fd</string>
	<key>UserPageNameText</key>
	<string>#ffffff</string>
	<key>buttonTypeOneNormal</key>
	<string>#ffffff</string>
	<key>list10ButtonNormal</key>
	<string>#ffffff</string>
	<key>weatherWidgetText</key>
	<string>#ffffff</string>
	<key>mainBarTitlePress</key>
	<string>#333333</string>
	<key>channelOnePageText</key>
	<string>#ffffff</string>
	<key>channel7listPressColor</key>
	<string>#ffffff</string>
	<key>mc_forum__login_button2_h</key>
	<string>#ffffff</string>
	<key>pageFieldNormal</key>
	<string>#666666</string>
	<key>airBubbleNum</key>
	<string>#ffffff</string>
	<key>chatPageBoxTime1</key>
	<string>#bbbbbb</string>
	<key>channelThreePageText</key>
	<string>#ffffff</string>
	<key>chatPageBoxTime2</key>
	<string>#bbbbbb</string>
	<key>buttonTypeOnePress</key>
	<string>#ffffff</string>
	<key>specifyText</key>
	<string>#ffffff</string>
	<key>mc_forum_bg3_text_h</key>
	<string>#000000</string>
	<key>chatPageButtonPress</key>
	<string>#ffffff</string>
	<key>bottomBarTextNormal</key>
	<string>#999999</string>
	<key>voteBar</key>
	<string>#009c25</string>
	<key>menuSingleTextPress</key>
	<string>#ffffff</string>
	<key>list9ListTextColor</key>
	<string>#999999</string>
	<key>weatherTodayText</key>
	<string>#ffffff</string>
	<key>mainBarTitleNormal</key>
	<string>#999999</string>
	<key>detail10ListTextColor</key>
	<string>#999999</string>
	<key>nextToolTextPress</key>
	<string>#999999</string>
	<key>chatPageButtonNormal</key>
	<string>#ffffff</string>
	<key>channel9TitleColor</key>
	<string>#666666</string>
	<key>normalText</key>
	<string>#666666</string>
	<key>mainBarTitleSelected</key>
	<string>#0ca9fd</string>
	<key>sectionClassification</key>
	<string>#ffffff</string>
	<key>detail10ButtonNormal</key>
	<string>#ffffff</string>
	<key>pageAirBubbleText</key>
	<string>#ffffff</string>
	<key>informationPromptText</key>
	<string>#333333</string>
	<key>mc_forum_login_mask_bg</key>
	<string>#ffffff</string>
	<key>channelTitleOneText</key>
	<string>#ffffff</string>
	<key>detail10ButtonPress</key>
	<string>#ffffff</string>
	<key>pictureLoadFailedText</key>
	<string>#ffffff</string>
	<key>nextPullRevolutionText</key>
	<string>#999999</string>
	<key>springBoxText</key>
	<string>#ffffff</string>
	<key>topBarTitleText</key>
	<string>#999999</string>
	<key>weatherFutureText</key>
	<string>#ffffff</string>
	<key>channel8listPressColor</key>
	<string>#333333</string>
	<key>detailSevenNormalText</key>
	<string>#cccccc</string>
	<key>menuSingleTextNormal</key>
	<string>#ffffff</string>
	<key>buttonTypeTwoPress</key>
	<string>#0ca9fd</string>
	<key>chatPageBoxText1</key>
	<string>#666666</string>
	<key>textFieldPreestablishText</key>
	<string>#999999</string>
	<key>nextToolTextSelection</key>
	<string>#999999</string>
	<key>locationButtonNormal</key>
	<string>#0ca9fd</string>
	<key>channel8listNormalColor</key>
	<string>#333333</string>
	<key>chatPageBoxText2</key>
	<string>#666666</string>
	<key>obviousText</key>
	<string>#222222</string>
	<key>pageFieldSelected</key>
	<string>#0ca9fd</string>
	<key>channelTitleOnePressText</key>
	<string>#ffffff</string>
	<key>list10ButtonPress</key>
	<string>#ffffff</string>
	<key>textFieldInputText</key>
	<string>#222222</string>
	<key>mc_forum__login_button1_n</key>
	<string>#ffffff</string>
	<key>heighLightText</key>
	<string>#0ca9fd</string>
	<key>adTextColor</key>
	<string>#0090ff</string>
</dict>
</plist>
